youtube-dl
yfinance
yahoo-weather
tweepy
PySocks
python-dotenv
spotipy
PyNaCl
praw
pandas-datareader
luhn
dnspython
google-api-client
google-api-python-client
discord-pretty-help
discord.py
beautifulsoup4
requests
aiohttp
asyncpraw
